.hero-layout {
    background: $topography, darken($lightest-grey, 2%);
    grid-column: span 12;
}

.hero-marketing {
    margin: 0 auto;
    max-width: 1100px;
    padding: 4rem $xl-space;

    h1 {
        margin-bottom: $xl-space;

        @include tablet {
            font-size: 12vw;
        }
    }
}
