.form-control {
    border-radius: 6px;
    overflow: hidden;

    @include tablet {
        flex-direction: column;
        border-radius: 0;
    }

    input {
        background: $lightest-grey;
        flex: 1;
        padding: $xl-space;
        border-radius: 6px 0 0 6px;

        @include tablet {
            border-radius: 6px;
        }

        &:active,
        &:focus {
            outline: none;
            background: darken($lightest-grey, 4%);
            box-shadow: 0 0 2px rgba($black, .1) inset;
            border-radius: 6px 0 0 6px;
        }
    }

    .button {
        min-width: 14rem;
        border-radius: 0;

        @include tablet {
            margin-top: $l-space;
        }
    }
}

.fixed-alert {
    left: 0;
    right: 0;
    position: fixed;
    bottom: -30%;

    @include tablet {
        flex-direction: column;
        position: relative;
    }
}
